node_modules
.nx
dist
.next
.git
.gitignore
**/.env
**/.env.*
!**/.env.example
**/*.pem
**/*.key
**/*.p12
**/*service-account*.json
**/*credentials*.json
**/.npmrc
**/.yarnrc*
**/id_rsa*
*.md
!prisma/**
LICENSE
.vscode
.idea
coverage
tmp
*.log
apps/api/dist
apps/dashboard/.next
apps/landing/.next
apps/api-e2e
apps/dashboard-e2e
